<form id="drinkForm" name="drinkForm" ng-submit="submitChoices()">
        <div class="row">
            <div class="col-md-2" ng-repeat="ingredient in ingredients.drinks | orderBy:'strIngredient1'">
                <label for="{{ ingredient.strIngredient1.split(' ').join('_') }}">
                    <input type="checkbox" ng-model="inputs[ingredient.strIngredient1.split(' ').join('_')]" name="{{ ingredient.strIngredient1.split(' ').join('_') }}" id="{{ ingredient.strIngredient1.split(' ').join('_') }}">{{ingredient.strIngredient1}}
                </label>
            </div>
        </div>
    <input type="submit">
</form>

<h1 ng-show="submitted">Mixable</h1>
<div ng-repeat="mixableDrink in mixableDrinks" class="row" style="margin: 20px; border: 20px;">
    {{mixableDrink.strDrink}}<br>
    {{mixableDrink.strCategory}}<br>
    {{mixableDrink.strAlcoholic}}<br>
    {{mixableDrink.strGlass}}<br>
    Instructions: {{mixableDrink.strInstructions}}
    <div ng-if="mixableDrink.strIngredient1 != ''">{{mixableDrink.strMeasure1}}{{mixableDrink.strIngredient1}}</div>
    <div ng-if="mixableDrink.strIngredient2 != ''">{{mixableDrink.strMeasure2}}{{mixableDrink.strIngredient2}}</div>
    <div ng-if="mixableDrink.strIngredient3 != ''">{{mixableDrink.strMeasure3}}{{mixableDrink.strIngredient3}}</div>
    <div ng-if="mixableDrink.strIngredient4 != ''">{{mixableDrink.strMeasure4}}{{mixableDrink.strIngredient4}}</div>
    <div ng-if="mixableDrink.strIngredient5 != ''">{{mixableDrink.strMeasure5}}{{mixableDrink.strIngredient5}}</div>
    <div ng-if="mixableDrink.strIngredient6 != ''">{{mixableDrink.strMeasure6}}{{mixableDrink.strIngredient6}}</div>
    <div ng-if="mixableDrink.strIngredient7 != ''">{{mixableDrink.strMeasure7}}{{mixableDrink.strIngredient7}}</div>
    <div ng-if="mixableDrink.strIngredient8 != ''">{{mixableDrink.strMeasure8}}{{mixableDrink.strIngredient8}}</div>
    <div ng-if="mixableDrink.strIngredient9 != ''">{{mixableDrink.strMeasure9}}{{mixableDrink.strIngredient9}}</div>
    <div ng-if="mixableDrink.strIngredient10 != ''">{{mixableDrink.strMeasure10}}{{mixableDrink.strIngredient10}}</div>
    <div ng-if="mixableDrink.strIngredient11 != ''">{{mixableDrink.strMeasure11}}{{mixableDrink.strIngredient11}}</div>
    <div ng-if="mixableDrink.strIngredient12 != ''">{{mixableDrink.strMeasure12}}{{mixableDrink.strIngredient12}}</div>
    <div ng-if="mixableDrink.strIngredient13 != ''">{{mixableDrink.strMeasure13}}{{mixableDrink.strIngredient13}}</div>
    <div ng-if="mixableDrink.strIngredient14 != ''">{{mixableDrink.strMeasure14}}{{mixableDrink.strIngredient14}}</div>
    <div ng-if="mixableDrink.strIngredient15 != ''">{{mixableDrink.strMeasure15}}{{mixableDrink.strIngredient15}}</div>
    <div ng-if="mixableDrink.strDrinkThumb != ''"><img src="{{mixableDrink.strDrinkThumb}}"></div>
</div>

<h1 ng-show="submitted">Mixable with 1 extra ingredient that you don't have</h1>
<div ng-repeat="almostMixableDrink in almostMixableDrinks" class="row" style="margin: 20px; border: 20px;">
    {{almostMixableDrink.strDrink}}<br>
    {{almostMixableDrink.strCategory}}<br>
    {{almostMixableDrink.strAlcoholic}}<br>
    {{almostMixableDrink.strGlass}}<br>
    Instructions: {{almostMixableDrink.strInstructions}}
    <div ng-if="almostMixableDrink.strIngredient1 != ''">{{almostMixableDrink.strMeasure1}}{{almostMixableDrink.strIngredient1}}</div>
    <div ng-if="almostMixableDrink.strIngredient2 != ''">{{almostMixableDrink.strMeasure2}}{{almostMixableDrink.strIngredient2}}</div>
    <div ng-if="almostMixableDrink.strIngredient3 != ''">{{almostMixableDrink.strMeasure3}}{{almostMixableDrink.strIngredient3}}</div>
    <div ng-if="almostMixableDrink.strIngredient4 != ''">{{almostMixableDrink.strMeasure4}}{{almostMixableDrink.strIngredient4}}</div>
    <div ng-if="almostMixableDrink.strIngredient5 != ''">{{almostMixableDrink.strMeasure5}}{{almostMixableDrink.strIngredient5}}</div>
    <div ng-if="almostMixableDrink.strIngredient6 != ''">{{almostMixableDrink.strMeasure6}}{{almostMixableDrink.strIngredient6}}</div>
    <div ng-if="almostMixableDrink.strIngredient7 != ''">{{almostMixableDrink.strMeasure7}}{{almostMixableDrink.strIngredient7}}</div>
    <div ng-if="almostMixableDrink.strIngredient8 != ''">{{almostMixableDrink.strMeasure8}}{{almostMixableDrink.strIngredient8}}</div>
    <div ng-if="almostMixableDrink.strIngredient9 != ''">{{almostMixableDrink.strMeasure9}}{{almostMixableDrink.strIngredient9}}</div>
    <div ng-if="almostMixableDrink.strIngredient10 != ''">{{almostMixableDrink.strMeasure10}}{{almostMixableDrink.strIngredient10}}</div>
    <div ng-if="almostMixableDrink.strIngredient11 != ''">{{almostMixableDrink.strMeasure11}}{{almostMixableDrink.strIngredient11}}</div>
    <div ng-if="almostMixableDrink.strIngredient12 != ''">{{almostMixableDrink.strMeasure12}}{{almostMixableDrink.strIngredient12}}</div>
    <div ng-if="almostMixableDrink.strIngredient13 != ''">{{almostMixableDrink.strMeasure13}}{{almostMixableDrink.strIngredient13}}</div>
    <div ng-if="almostMixableDrink.strIngredient14 != ''">{{almostMixableDrink.strMeasure14}}{{almostMixableDrink.strIngredient14}}</div>
    <div ng-if="almostMixableDrink.strIngredient15 != ''">{{almostMixableDrink.strMeasure15}}{{almostMixableDrink.strIngredient15}}</div>
    <div ng-if="almostMixableDrink.strDrinkThumb != ''"><img src="{{almostMixableDrink.strDrinkThumb}}"></div>
</div>